<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="referrer" content="origin">
	<title>{{ page.title }} | Martin Postma's online CV</title>
	<meta name="author" content="{{ site.author.name }}">
	<link rel="shortcut icon" href="/assets/images/fav_brown.ico" type="image/vnd.microsoft.icon" />
	<link href='/assets/themes/the-program/css/style.css' rel="stylesheet" media="all">
	<link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<nav class="nav-global">
					<ul class="fa-ul">
						<li class="logo"><a href="/">{{ site.title }}</a></li>
							<li class=""><a href="/#top" class=""><i class="fas fa-home fa-fw fa-lg"></i>&nbsp;Home</a></li>
							<li class=""><a href="/ai-coding.html#top" class=""><i class="fas fa-code fa-fw fa-lg"></i>&nbsp;AI coding</a></li>
							<li class=""><a href="/data.html#top" class=""><i class="fas fa-user fa-fw fa-lg"></i>&nbsp;Data</a></li>
							<li class=""><a href="/work.html#top" class=""><i class="fas fa-briefcase fa-fw fa-lg"></i>&nbsp;Work</a></li>
							<li class=""><a href="/tools.html#top" class=""><i class="fas fa-wrench fa-fw fa-lg"></i>&nbsp;Tools</a></li>
							<li class=""><a href="/edu.html#top" class=""><i class="fas fa-graduation-cap fa-fw fa-lg"></i>&nbsp;Education</a></li>
							<li class=""><a href="/past.html#top" class=""><i class="fas fa-clock fa-fw fa-lg"></i>&nbsp;Past</a></li>
							<!-- <li class=""><a href="/terms.html#top" class=""><i class="fas fa-balance-scale fa-fw fa-lg"></i>&nbsp;Terms</a></li> -->
					</ul>
				</nav>
			</div><!-- unit-inner -->
		<br /><a href="#" title="Menu"><img id="selfportrait" src="/assets/images/me.png"></a>
		</div><!-- unit-head -->
	</header>
	<div id="top" class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
					<h4>User profiles</h4>
					<ul class="fa-ul">
						<li class=""><a href="https://www.drupal.org/u/{{ site.author.drupal }}/" rel="me" target="_blank"><i class="fab fa-drupal fa-fw fa-lg"></i>&nbsp;Drupal</a></li>
						<li class="github"><a href="https://github.com/{{ site.author.github }}/" rel="me" target="_blank"><i class="fab fa-github-alt fa-fw fa-lg"></i>&nbsp;GitHub</a></li>
						<li class="airbnb"><a href="https://airbnb.com/h/maussa/" rel="me" target="_blank"><i class="fab fa-airbnb fa-fw fa-lg"></i>&nbsp;Airbnb</a></li>
						<li class=""><a href="https://about.me/{{ site.author.aboutme }}/" rel="me" target="_blank"><i class="fas fa-address-card fa-fw fa-lg"></i>&nbsp;about.me</a></li>
					</ul>
				</div><!-- misc -->
				<p class="licence">
					<h4>Contact</h4>
					<a href="/contact" target="_blank" title="My contact form"><i class="fas fa-envelope fa-fw fa-lg"></i>&nbsp;Leave a message</a><br />
					<a href="tel:+393311262905"><i class="fas fa-phone fa-fw fa-lg"></i>&nbsp;+39 3311 26 29 05</a><br />
					<a href="https://wa.me/393311262905" target="_blank"><i class="fab fa-whatsapp fa-fw fa-lg"></i>&nbsp;WhatsApp</a><br />
					<a href="https://www.timeanddate.com/worldclock/netherlands/amsterdam" target="_blank"><i class="fas fa-clock fa-fw fa-lg"></i>&nbsp;CET (UTC+02:00)</a><br /><br />
					<h4>Download</h4>
					<a href="/assets/download/MARTIN_POSTMA-CV_DRUPAL_DEV-2025.pdf" target="_blank"><i class="fas fa-download fa-fw fa-lg"></i>&nbsp;CV in PDF</a>
					<br /><a href="https://www.drupal.org/u/{{ site.author.drupal }}/" rel="me" target="_blank"><img src="https://www.drupal.org/sites/all/modules/drupalorg/drupalorg/images/association_ind_member_badge.svg"></a>
				</p>
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->
<script>
	(function(d, s) {
		var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.src = url; js.id = id;
		fjs.parentNode.insertBefore(js, fjs);
		};
	load('//platform.twitter.com/widgets.js', 'tweetjs');
	// load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
	// load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
	}(document, 'script'));
</script>
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>

  {% include JB/analytics %}
</body>
</html>
